*{
    font-size: 16px;
    font-family: Helvetic, Arial, "san serif";
    box-sizing: border-box;
}

.board{
    background-color: #999;
    border: 5px solid #999;
    width: 520px;
    height: 520px;
    padding: 20px;
    border-radius: 10px;
    position: relative;   
}

.tile{
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border-radius: 4px;
    text-align: center;
    position: absolute;
    div{
        font-size: 5em;
        width: 125px;
        height: 125px;
        line-height: 125px;

    }
}

.grid-slot{
    width: 100px;
    height: 100px;
    background-color: #aaa;
    float: left;
    margin-bottom: 20px;

    &:not(:nth-child(4n)){
        margin-right: 20px;
    }
}

.pos-1-1{

}

.pos-1-2{
    
}